{%load static %}
<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %} News Portal {% endblock %}</title>

    <!-- Tailwind CSS via CDN -->
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
    <link rel="icon"  type="image/png" href="../../../media/noticias/images/favicon.png" >
</head>

<body class="bg-gray-100 text-gray-900">

    <header class="bg-white shadow">
        <div class="max-w-7xl mx-auto px-6 flex justify-between items-center">
    
            <!-- Logo -->
             <div class="hidden md:flex flex-col w-fit items-center">

                 <a href="/" class="group text-2xl text-black hover:text-blue-600 font-bold transition">
                     Local
                     <span class="text-blue-600 group-hover:text-black transition">News</span>
                    </a>
                    <p class="text-sm text-gray-400 italic">Nem sempre Fake, mas sempre News</p>
            </div>
    
    
            <!-- Menu Desktop -->
            <!-- <nav class="hidden md:flex items-center gap-6 text-sm">
                <a href="/" class="text-lg hover:text-xl hover:text-blue-600 transition-all duration-200">Home</a>
                <button onclick="scrollToFooter()" class="text-lg hover:text-xl hover:text-blue-600 transition-all duration-200">Contato</button>
            </nav> -->
            <a href="/" class="max-w-32 sm:max-w-32 overflow-hidden">
                <img class="w-32 sm:w-32" src="../../../media/noticias/images/logonovaxd.png" alt="Logo">
            </a>

             <!-- Botão mobile -->
             <button id="mobileMenuBtn" class="md:hidden text-3xl text-gray-700">
                <i class="fa-solid fa-bars"></i>
            </button>

            <!-- Área do Usuário (desktop) -->
            <div class="hidden md:block relative">
                {% if user.is_authenticated %}
                <div class="flex items-center gap-2">
                    <button onclick="toggleUserMenu()" class="group flex items-center gap-2">
        
                        <!-- Ícone com hover -->
                        <div class="w-10 h-10 rounded-full flex items-center justify-center 
                                    transition group-hover:bg-gray-200">
                            <img src="https://cdn.jsdelivr.net/npm/heroicons@2.0.16/24/outline/user-circle.svg" 
                                 class="w-9 h-9" />
                        </div>
                
                        <!-- Nome sem hover no fundo -->
                        <p class="text-lg">{{ user.nome_usuario }}</p>
                    </button>
                </div>
                <div id="userMenu" class="hidden absolute right-0 mt-2 bg-white shadow rounded w-40 z-50">
                    <a href="/perfil/" class="block px-4 py-2 hover:bg-gray-100">Perfil</a>
                    {% if user.perfil.perfil in 'editor admin' %}
                    <a href="/dashboard/" class="block px-4 py-2 hover:bg-gray-100">Dashboard</a>
                    <a href="/cadastrar_noticia/" class="block px-4 py-2 hover:bg-gray-100">Criar notícia</a>
                    {%endif%}
                    <a href="/logout/" class="block px-4 py-2 hover:bg-gray-100 text-red-500">Sair</a>
                </div>
    
                {% else %}
                <a href="{% url 'login_cadastro' %}" class="px-4 py-2 bg-blue-600 text-white rounded hover:bg-blue-700">
                    Entrar
                </a>
                {% endif %}
            </div>
        </div>
    
        <!-- Menu Mobile (abre com hambúrguer) -->
        <div id="mobileMenu" class="hidden md:hidden bg-white px-6 pb-4 shadow">
    
            <a href="/" class="block py-2 text-lg hover:text-blue-600">Home</a>
            <button onclick="scrollToFooter()" class="block py-2 text-lg hover:text-blue-600">Contato</button>
    
            {% if user.is_authenticated %}
            <hr class="my-2">
            <a href="/perfil/" class="block py-2">Perfil</a>
            {% if user.perfil.perfil in 'editor admin' %}
                <a href="/dashboard/" class="block py-2">Dashboard</a>
                <a href="/cadastrar_noticia/" class="block py-2">Criar Notícia</a>
            {% endif %}
            <a href="/logout/" class="block py-2 text-red-500">Sair</a>
            {% else %}
            <a href="{% url 'login_cadastro' %}" class="block mt-2 bg-blue-600 text-white py-2 rounded text-center">
                Entrar / Cadastrar
            </a>
            {% endif %}
        </div>
    </header>
    


    <main class=" mx-auto px-4 mt-6">
        {% block content %}{% endblock %}
    </main>

    <footer id="site-footer" class="bg-white text-black mt-20">
        <div class="max-w-7xl mx-auto px-4 py-12 grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 gap-10">
    
            <!-- Sobre -->
            <div class="text-center sm:text-left">
                <h3 class="font-semibold text-xl mb-2">Local <span class="text-blue-600">News</span></h3>
                <p class="text-md italic text-gray-600">
                    Nem sempre fake, mas sempre news!
                </p>
            </div>
    
            <!-- Links -->
            <div class="text-center sm:text-left">
                <h3 class="font-semibold mb-2">Links úteis</h3>
                <ul class="text-sm space-y-1">
                    <li><a href="/" class="hover:text-gray-500">Home</a></li>
                    <li><a onclick="scrollToFooter()" class="hover:text-gray-500 cursor-pointer">Contato</a></li>
                </ul>
    
                <div class="flex justify-center sm:justify-start gap-4 mt-4 text-2xl">
                    <i class="fab fa-facebook hover:text-blue-600"></i>
                    <i class="fab fa-instagram hover:text-pink-600"></i>
                    <i class="fab fa-youtube hover:text-red-600"></i>
                </div>
            </div>
    
            <!-- Contato -->
            <div class="text-center sm:text-left">
                <h3 class="font-semibold mb-2">Contato</h3>
                <p class="text-sm text-gray-700">Deseja publicar no nosso portal?</p>
    
                <div class="mt-3 text-sm space-y-1">
                    <p>📧 contato@localnews.com.br</p>
                    <p>📞 (11) 3000-0000</p>
                    <p>📍 São Paulo, SP</p>
                </div>
            </div>
        </div>
    
        <div class="text-center text-white py-4 text-xs bg-gray-400">
            © 2025 Local News - Todos os direitos reservados.
        </div>
    </footer>
    


    <!-- Scroll para o footer -->
    <script>
        function scrollToFooter() {
        document.getElementById("site-footer").scrollIntoView({ behavior: "smooth" });
    }

    function toggleUserMenu() {
        document.getElementById("userMenu").classList.toggle("hidden");
    }

    // menu mobile
    document.getElementById("mobileMenuBtn").onclick = () => {
        document.getElementById("mobileMenu").classList.toggle("hidden");
    };
    </script>
</body>

</html>