{% extends "noticias/base.html"%}
{% block title %}Nova Notícia - Local News{% endblock %}

{%block content%}
<div class="flex flex-col items-center px-5 rounded-lg bg-[#f2f2f2] m-auto my-14 w-[60%]">
    <h2 style="text-align:center;" class="mt-5 text-xl">Adicionar Notícia</h2>
    <form method="POST" enctype="multipart/form-data" class="flex flex-col gap-4 w-[70%] py-4">
        {% csrf_token %}
        <div class="flex flex-col">
            <label for="id_image" >Imagem Principal</label>
            <div class="inserir-imagem">{{ form.image }}</div>
        </div>
        <div class="flex flex-col titulo">
            <label for="id_titulo">Título:</label>
            {{ form.titulo }}
        </div>
        <div class="flex categoria">
            <label for="id_categoria">Categoria:</label>
            {{ form.categoria }}
        </div>
        <div class="flex bairro">
            <label for="id_bairro">Bairro:</label>
            {{ form.bairro }}
        </div>
        <div class="flex flex-col">
            <label for="id_descricao">Descrição</label>
            {{ form.descricao }}
        </div>
        <div class="flex flex-col">
            <label for="id_introducao">Introdução</label>
            {{ form.introducao }}
        </div>
        <div class="flex flex-col">
            <label for="id_desenvolvimento_inicial">Desenvolvimento Inicial</label>
            {{ form.desenvolvimento_inicial }}
        </div>
        <div class="flex flex-col">
            <label for="id_video">Vídeo (link do YouTube)</label>
            {{ form.video }}
        </div>
        <div class="flex flex-col">
            <label for="id_desenvolvimento_final">Desenvolvimento Final</label>
            {{ form.desenvolvimento_final }}
        </div>
        <div class="flex flex-col">
            <label for="id_conclusao">Conclusão</label>
            {{ form.conclusao }}
        </div>

        <div style="text-align:center;" class="flex gap-2 m-auto w-fit">
            <button type="reset" class="bg-black px-4 py-1 text-white rounded-md hover:bg-gray-500 cursor-pointer">Limpar</button>
            <button type="submit" class="bg-black px-4 py-1 text-white rounded-md hover:bg-gray-500 cursor-pointer">Salvar</button>
        </div>
    </form>
</div>
{% endblock %}