{% extends "noticias/base.html" %}
{% block title %}Cadastro - Local News{% endblock %}
{% block content %}
<div class="max-w-md mx-auto bg-white p-8 rounded-xl shadow-lg mt-10">
  <h2 class="text-2xl font-semibold mb-6 text-center text-gray-800">Crie sua conta</h2>
  <form method="post" class="flex flex-col gap-4">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit" class="bg-blue-600 text-white py-2 rounded-lg hover:bg-blue-700 hover:scale-[1.02] transition">Cadastrar</button>
  </form>
  <p class="text-sm text-center text-gray-500 mt-4">
    Já tem conta?
    <a href="{% url 'login_cadastro' %}" class="text-blue-600 hover:underline">Entre aqui</a>
  </p>
</div>
{% endblock %}
