{% extends "noticias/base.html"%}
{% block title %}Home - Local News{% endblock %}
{%block content%}
<nav class="flex w-full gap-5 px-8 py-4 bg-[#efefef] shadow-lg">
    <a class="px-3 py-0.5  rounded-lg border-2 border-[#000] bg-black text-white text-lg" href="">Notícas</a>
    <a class="px-3 py-0.5  rounded-lg border-2 border-[#cac4d0] bg-white text-lg" href="">Política</a>
    <a class="px-3 py-0.5  rounded-lg border-2 border-[#cac4d0] bg-white text-lg" href="">Esportes</a>
    <a class="px-3 py-0.5  rounded-lg border-2 border-[#cac4d0] bg-white text-lg" href="">Entretenimento</a>
    <a class="px-3 py-0.5  rounded-lg border-2 border-[#cac4d0] bg-white text-lg" href="">Tecnologia</a>
    <a class="px-3 py-0.5  rounded-lg border-2 border-[#cac4d0] bg-white text-lg" href="">Saúde</a>
    <a class="px-3 py-0.5  rounded-lg border-2 border-[#cac4d0] bg-white text-lg" href="">Economia</a>
    <a class="px-3 py-0.5  rounded-lg border-2 border-[#cac4d0] bg-white text-lg" href="">Outro</a>
</nav>

<!-- </main> -->
{% endblock %}